:root {                                  /*declaração de variaveis na raiz -root */
	--vermelho: #E50914;
	--preto: #141414;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--preto);                                /*interessante é possível criar variaveis*/
	font-family: 'Times New Roman', Times, Serif;
    color: white;	
}

header .container {
	display: flex;
	flex-direction: row;                                     /* padrão, não é necessário declarar */
	align-items: center;                                     /*apenas para uma referência */
    justify-content: space-between;

}

header .logo {
	color: var(--vermelho);
	font-family: 'Arial Black', Times;
	font-size: 40px;
	margin-left: 5px;
}

header nav a {
	text-decoration: none;
	color: #AAA;
	margin-right: 10px;
}

header nav a:hover {
	color: #FFF;
}


/*Filme principal*/

.filme-principal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	
	font-size: 16px;
	background-image: linear-gradient(rgb( 0, 0, 0, .5), rgb(0, 0, 0, .5) 100%),   url('../img/capa-interestelar.jpg');
	background-size: cover;
	
	height: 400px;
}

.filme-principal .descricao {
	margin-bottom: 50px;
}
.titulo{
    font-size: 40px;	
}
